@page
@model RazorPizza.Pages.Checkout.CheckoutModel
@{
}

<h1>Your Order!</h1>
@{
    var ImagePath="~/images/Pizzas/"+(@Model.ImageTitle)+".png";
 }
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img class="w-100" asp-append-version="true" src=@ImagePath/>
        <p>Your order for the <strong>@Model.PizzaName</strong>  Pizza is Ready!</p>
        <p>Total price for your is :<strong>@Model.PizzaPrice$ </strong></p>
        <br />
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order</a>
    </div>
</div>